.info-card #verified-info {
  border-radius: 7px;
}

.info-card img {
  width: 150px;
  height: 150px;
}

.card-booking {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
}


