#become-chef {
  border-radius: 5px;
}

#become-chef a {
  color: #1EDD88;
}

#become-chef a:hover {
  color: white;
  text-decoration: none;
}

#update-information a {
  color: #878287;
}

#circle {
  color: #1EDD88;
}

#info-card {
  border-radius: 7px;
}

#bookings-card {
  border-radius: 7px;
}

#bookings-header {
  border-radius: 7px;
}

#verified-info {
  border-radius: 7px;
}
