 <footer class="footer">
  <div class="social-media-links">
    <a class="fab fa-facebook-f" href="#" target="blank"></a>
    <a class="fab fa-instagram" href="#" target="blank"></a>
    <a class="fab fa-twitter" href="#" target="blank"></a>
  </div>
</footer>
