.footer {
  flex-shrink: 0;
  height: 100px;
  width: 100vw;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
  margin-top: 10px;

  a {
    color: grey;
    padding: 0 20px;
    font-size: 24px;
    &:hover {
      color: #64B65D;
      text-decoration: none;
    }
  }
}

.social-media-links {
  display: flex;
  justify-content: center;
}
